body {
    font-family: 'Arial';
}

header {
    text-align: left;
    padding: 10em;
    
    align-items: center;
    justify-content: center;
    font-size: 120%;
    background-color: #fff8f2;
}

h1{
    font-size: 50px;
    text-decoration: solid;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8f2;
}

#bio div p {
    font-size: 125%;
}

#bio img {
    width: 20em;
    height: auto;
    border-radius: 100em;
    margin-right: 2em;
}

#bio div {
    text-align: left;
    font-size: 1em;
    max-width: 40em;
    
}

main {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

#projects, #blog-posts {
    width: 45em;
}

footer {
    text-align: center;
    padding: 2em;
}

footer img {
    width: 30em;
    height: 30em;
}

#socials {
    display: flex;
    align-items: center;
    max-width: 40em;
    gap: 1em;
}

#socials img {
    width: 2em;
    height: 2em;    
}

body {
    align-items: center;
    justify-content: center;
}

html {
    background-color:#fff8f2;
}

#page {
    justify-content: center;
    margin-right: 2em;
}
