* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
    text-align: center;
    
}
.circular--portrait { 
    position: relative; 
    width: 20em; 
    height: 20em; 
    overflow: hidden; 
    border-radius: 50%; } 

.circular--portrait img { 
    width: 100%; 
    height: auto; }

main {
    padding-top: 10%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    vertical-align: middle;
}

a {
	text-decoration: none;
}
.socials a{
    max-width: 1;
	font-size: 30px;
	color: black;
	margin: 25px 30px 0 3.2px;
	transition: color 0.3s;
}
.socials a:visited {
	color: black;
}
.socials a:hover  {
	color: gray;
}




