body {
    font-family: 'Helvetica', sans-serif;
}

nav {
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(227, 223, 223);
}

header {
    text-align: center;
    padding: 2em;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    background-color: #fff8f2;
}

h1{
    font-size: 50px;
    text-decoration: solid;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8f2;
}

#bio div p {
    font-size: 125%;
}

#bio img {
    width: 350px;
    height: auto;
    border-radius: 4%;
    margin-right: 2em;
}

#bio div {
    text-align: left;
    font-size: 125%;
    max-width: 40%;
    
}

#bio div a {
    margin-bottom: 70px;
    
}


/* show correct dark mode icon */
html.dark #button-dark-mode #light-mode-icon {
    @apply hidden;
}
html:not(.dark) #button-dark-mode #dark-mode-icon {
    @apply hidden;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

#projects, #blog-posts {
    width: 45%;
}

footer {
    text-align: center;
    padding: 2em;
}

footer img {
    width: 30px;
    height: 30px;
}

#socials {
    display: flex;
    align-items: center;
    max-width: 40%;
    gap: 1em;
}

#socials img {
    width: 30px;
    height: 30px;
    
    
}

body {
    align-items: center;
    justify-content: center;
   

}

html {
    background-color:#fff8f2;
}



#page {
    width: 1200px;
    justify-content: center;
}